html, body {  
      overflow-x: hidden; 
     }
html {
    scroll-behavior: smooth;
     
  
  }
  .collapse navbar-collapse{
    color:white;
    background: #FA662E;
}
.custom-toggler.navbar-toggler {
    border-color: white;

}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse{
    /* background: #3B54F9; */
    margin: 0px;
}
header{
    background: url(../images/background1.jpg);
    /* background-image: linear-gradient(20deg, #fda65f 0%, #fa662e 100%); */
    font-family: 'Open Sans', sans-serif;  
    background-repeat: no-repeat;
    background-size: cover;
     
    
}
.nav-item{
    font-family: 'Open Sans', sans-serif;
    color:white;
    margin:15px;
    display: inline-block;
    font-size:14px;
}
.nav-item:hover{
    border-bottom:3px solid white;
    color:white;
}

.nav-item.active {
    border-bottom: 3px solid white;
}
.navbar-brand img{
    height: 66px;
    padding-left:40px;
    margin-top:14px;
}
header .row h1{
    color:  white;
    font-weight: bold;
    font-size:65px;
    letter-spacing: -3.85px;
    line-height: 80px; 
    margin:10px auto;
    display: block;
    margin-top:100px;
}

header .container-fluid{
    padding:150px 90px;
}
header .row  p{
    font-size: 26px;
    font-weight: 450;
    color:white;
    margin:10px auto;
    display:block;
    font-family: 'Open Sans', sans-serif;  
    line-height: 40px;
    text-align: center;
}

header button{
    border-radius: 20px;
    border: 3px solid white; 
    padding: 5px 40px;
    background: none;
    color: white;
    font-weight:bold;
    margin:0px auto;
    display: block;
    margin-top:50px;   
}
header .row img{
    height:400px;
    margin-left:85px;
    margin-top: 220px;
    transform: rotate(3deg);

}
.why{
    background-color: #0484e6;
    background-image: linear-gradient(180deg, #0075ce 0%, #03487c 100%);
    background-image: url(../images/background3.jpg); 
    background-repeat: no-repeat;
    background-size: 100%;
}
.why .top .row p{
    text-align: center;
    padding: 130px 144px 50px 144px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    line-height: 38px;
}
.why .top .row{
    padding:40px;
}
.why .bottom .row{
   padding:40px 100px;
  
   
}
.why .bottom .row .col-lg-3{
    font-family: 'Open Sans', sans-serif;
    padding:10px;
    
}
.why .bottom .row .col-lg-3 .col{
    border : 8px solid white;
    padding:10px;
    /* background-image: linear-gradient(20deg, #fda65f 0%, #fa662e 100%); */
    /* margin:50px; */
}
.why .bottom .row .col-lg-3 .col p{
    font-size: 16px;
    color: white;
    
    text-align: center;
    margin-bottom:30px;
    margin-top:10px; 
}
.why .bottom .row .col-lg-3 .col hr{
    border: 01px solid #ffffff;
}
.why .bottom .row .col-lg-3 .col .num{
    color: white;
    font-weight: bold;
    font-size:25px;
}
.features{
    background: url(../images/background2.jpg);
   
    
    
}
.features .row  img{
    height:50px;
    margin-bottom:50px;
}
.features .row .col-lg-6{
    padding-left:35px;
    /* background: rgb(4,1,56); */
  

}

.features .row .col-lg-6 h2{

    color: white;
    font-size:20px;
    margin-bottom: 20px;
    display:block;
}
.features .row .col-lg-6 p{
    color:white;
    font-size: 14px;
    line-height: 25px;
    /* padding-right:80px; */
    
}
.features span{
    border-bottom: 3px solid white;
    padding-bottom:10px;
    
}
.features .row .col-lg-6 .row{
    padding:25px;
}
.features .row .col-lg-6{
    padding-top:120px;
    padding-bottom:60px;
}
/* Demo  */


/*  */
.footer{
    background-color: #fcbf8e;
    background-image: linear-gradient(0deg, #ff7e14 0%, #fa662e 100%);
}
.footer .row{
   padding: 60px 20px 0px 20px;
}
.footer .row .col-lg-8{
    padding: 70px 120px;
    
}

.footer .row .col-lg-8 .form-group label{
    color:white;
    font-size:14px;
}
.footer .row .col-lg-8 .form-group input,.footer .row .col-lg-8 .form-group textarea{
    border-radius: 0px;
    background:#ff7e14;
    border:2px solid white;
    margin-bottom:10px;
    color:white;
    
}
.footer .row .col-lg-8 .form-group button{
    border-radius: 0px;
    color:#FA662E;
    background: white;
    border: 1px solid white;
    font-weight: bold;
    padding:5px 30px;
}
.footer .row .col-lg-4 img{
    height:40px;
}
.footer .row .col-lg-4 p{
    color:white;
    font-size:16px;
    padding:10px;
    float:left;
    font-weight:bold;
}
.footer .row .col-lg-4{
    padding-top:80px;
    
}
.footer .row .col-lg-4 .row{
    padding:0px;
    margin:20px;
    margin-right:5px;
    margin-bottom:40px;
}
/* abcd */
.clients{
    /* background-image: url(../images/background3.jpg); */
    padding:40px;
    font-family: 'Open Sans', sans-serif;
    background-size:90%;  
}
.clients .row .col-lg-4 img{
    height:90px;
    width: 90px;
    border-radius:50%;
    margin:20px auto;
    display: block 
}
.clients .row .col-lg-4 p{
    color:black;
    font-family: 'Open Sans',sans-serif;
    font-size:14px;
    text-align: center;
    margin:30px;
    font-weight: bold;
}
.clients .row{
    padding:150px 50px;
}
/* 2nd Carousel */
.clients-car{
    background-color: #fcbf8e;
    background-image: linear-gradient(180deg, #f3a15e 0%, #fa662e 100%);
    
    

    
    
}
.clients-car h2 {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
    font-weight: bold;
    display: block;
    font-size:26px;
    padding-top:140px;
    
}

.clients-car .carousel {
    width: 500px;
    margin: 20px auto;
    padding: 50px 20px;
    padding-top:20px;
    border: 8px solid white;
    display: inline-block;
}

.clients-car .carousel .item {
	color: white;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.clients-car .carousel .item a{
	color: white;
}
.clients-car .carousel .img-box{
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.clients-car .carousel .img-box img{
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.clients-car .carousel .testimonial{	
	padding: 30px 0 10px;
}
.clients-car .carousel .overview{	
	text-align: center;
	padding-bottom: 5px;
}
.clients-car .carousel .overview b{
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}

.clients-car .carousel .carousel-control{
	width: 30px;
	height: 30px;
	border-radius: 50%;
    background: white;
    text-shadow: none;
	top: 4px;
}
.clients-car .carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.clients-car .carousel-control.left {
	left: auto;
	right: 40px;
}
.clients-car .carousel-control.right i {
	margin-right: -2px;
}
.clients-car .carousel .carousel-indicators {
	bottom: 15px;
}

.clients .carousel-indicators li {
	border-radius:0;
	width:8px;
	height:8px;
	background:white;
}
.clients .carousel-indicators .active {
	width:10px;
	height:10px;
	background:#3B54F9;
	border-color:#3B54F9;
}

.clients .carousel-indicators li.active {
	border: none;
	background: #ffffff;		
}
/* Footer */
.contact-intro ul li a{

    color:white;
    text-align: center;
    display: block;
    padding:10px;
    transition: color 0.5s; 
    
}
.contact-intro ul li a:hover{
    text-decoration: none;
    color:#0173c5;
}
footer{
    background-color: #000000;
    background-image: linear-gradient(189deg, #000000 0%, #333333 100%);
    padding:30px;
}
@media screen and (max-width: 700px) {
    html, body {  
        overflow-x:hidden;
        
         }
.navbar{
    background:#3B54F9;
    padding:0px;
}
.navbar-brand img{
    height:50px;
    padding-left:10px;
    margin-top:0px;
}
header .row .col-lg-6 img{
    height:200px;
    margin:30px auto;
    display:block;
    margin-top:130px;
}
header .row .col-lg-6 h1{
    font-size:35px;
    text-align:center;
    padding-top:15px;
    line-height:60px;
    letter-spacing: -2.85px;
}
header .row .col-lg-6 p{
    padding:20px;
    text-align:center;
    font-size:18px;
}
header .row .col-lg-6 button{
    margin:10px auto;
    display: block;
    margin-bottom:20px;
}
.why{
   background-size:fill;
}
.why .top .row p{
    padding:15px;
    font-size:16px;
   /* text-align: justify; */
   text-align-last:center;
}
.why .bottom .row{
    padding:20px 60px;
}
.features .row{
    padding:0px;
}
.features .row .col-lg-6{
    padding-top:0px;
    padding-bottom:0px;
}
.features .row .col-lg-6 .col-lg p{
    padding-right:0px;
    text-align:center;
  
}
.features .row .col-lg-6 .col-lg{
    /* margin:10px auto; */
    margin:10px auto;
    display: block;
}
.features .row .col-lg-6 .col-lg h2{
    font-size:18px;
    text-align: center;
    
}
.features .row .col-lg-6 .row{
    padding:0px;
    margin:20px 0px;
}
.features .row img{
    height:60px;
    margin:20px auto;
    display:block;
    
}
.features .col-auto{
    margin:0px auto;  
}
.features span{
    border-bottom:0px;
    padding-bottom:0px;
    
}
.clients{
    padding:0px;
}
.clients .row{
    padding:40px 30px;
}
.clients .row .col-lg-4 p{
    text-align:justify;
    text-align-last:center;
    margin:10px;
}
.clients-car h2{
    padding-top:10px;
    padding:10px;
    font-size:22px;
}
.clients-car .carousel{
    margin:10px 30px;
    margin-bottom:40px;
}
.footer{
    padding:10px;
}
.footer .row{
    padding:5px;
}
.footer .row .col-lg-8{
    padding:40px;
}
.footer .row .col-lg-8 .form-group button{
    margin:20px auto;
    display: block;
}
.footer .row .col-lg-4 img{
    height:35px;
}
.footer .row .col-lg-4{
    padding-top:10px;
   
    padding:30px;
    margin-bottom:20px
}
.footer .row .col-lg-4 p{
    font-size:14px;
    padding:0px;
    padding-left:10px;
    color:white;
}
.footer .row .col-lg-4 .row{
    margin:10px;
    margin-bottom:25px;
    
}
}


